@charset "utf-8";

html,body{
	font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
	font-size: 16px;
	min-width: 38em;
	-webkit-user-select: none;
}

body{
	display: none;
}

#dialog-confirm{
	display: none;
}
#dialog-impexp{
	display: none;
}
#dialog-xcpts{
	display: none;
}

#dialog-impexp p,
#dialog-xcpts p{
	margin: 0px;
	padding: 0px;
}

a:link {
    color: #1771d6 !important;
	text-decoration: none;
}

a:visited {
    color: #1771d6 !important;
	text-decoration: none;
}

a:hover {
    color: #135094 !important;
	text-decoration: none;
}

a:active {
    color: #135094 !important;
	text-decoration: none;
}

#tabGeneral, #tabIncognito, #tabAdvanced{
	margin: 14px 0px 0px 0px;
}

#mainDiv{
	width: 38em;
	margin: 0.5em auto;
	padding: 0.6em;
}

#hdrTop{
	display: block;
	background: transparent url("images/app-logo_lg.png") no-repeat left top;
	margin: 0px;
	padding: 0px;
	height: 96px;
}

#divHdrTop{
	position: relative;
}

#idMoto{
	position: absolute;
	top: 70px;
	left: 98px;
	height: 100%;
	font-size: 8pt;
	white-space: nowrap;
}

#divSavd{
	font-size: x-small;
	height: 1.8em;
}

#divSavd span{
	float: right;
	margin: 0px 12px 2px 0px;
	padding: 0px;
	font-size: x-small;
}

.svdOK{
	color: #3C0;
}
.svdErr{
	color: #C00;
}

.clearAll{
	clear: both;
}

#tabs .ui-state-active {
	background-color: #fff;
	color: #000;
}

#tabs .ui-tabs-anchor{
	color: #000 !important;
}

.ui-tabs-anchor:active, .ui-tabs-anchor:focus{
     outline:none; 	/* Remove focus outlines */
}

.divDesc01{
	margin: 0;
	padding: 0;
	font-size: 9pt;
	color: #999;
}

.divDesc01 p{
	margin: 6px 0px 12px 0px;
	padding: 0px;
}

fieldset {
	border: 1px solid #ddd;
	border-radius: 2px;
	margin: 4px 8px;
	padding: 10px 20px 14px 20px;
}

#tabGeneral fieldset{
	margin-top: 22px;
}
#tabMemory fieldset{
	margin-top: 16px;
}
#tabStorage fieldset{
	margin-top: 16px;
}
#tabIncognito fieldset{
	margin-top: 22px;
}
#tabExceptions fieldset{
	margin-top: 16px;
}
#tabAdvanced fieldset{
	margin-top: 16px;
}

.divChkbx01{
	margin: 2px 0px 8px 10px;
	padding: 0px;
}
.divChkbx02{
	margin: 14px 0px 8px 10px;
	padding: 0px;
}

.divChkbx01 span,
.divChkbx02 span{
	display: block;
	margin: 0px;
	padding: 0px 0px 0px 22px;
	font-size: x-small;
	color: #999;
}

.divFootr01{
	margin: 18px 0px 8px 10px;
	padding: 0px;
	font-size: x-small;
	font-size: 9pt;
	color: #999;
}

.divFootr01 img{
	float: left;
	padding: 0px 10px 0px 0px;
	margin-bottom: 10px;
	width: 16px;
}

.divFootr01 span{
	display: table-cell;
}

#divInfo{
	display: inline-block;
	float: right;
	margin: 2px;
	padding: 0px;
	width: 200px;
}

#divInfo span{
	display: block;
	font-size: 9pt;
	padding: 0 18px 0 0;
}

#idOpenSrc{
	padding: 6px 0px 0px 0px !important;
	display: inline-block;
	color: #999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 200px;
}

#idCheckUpdts{
	padding: 6px 0px 0px 0px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 200px;
}

.divRstDefs{
	font-size: 9pt;
	padding: 0px;
	margin: 12px 4px 16px 18px;
}

.cmbDropDwn{
	display: block;
	margin: 12px 0px 12px 0px;
	padding: 1px;
}

.cmbDesc{
	display: block;
	margin: 0px 0px 8px 0px;
	padding: 0px;
	font-size: x-small;
	color: #999;
}

#idIncogWarn{
	margin: 0px 0px 18px 10px;
	padding: 0px;
	font-size: x-small;
	font-size: 9pt;
	color: #999;
}

#idIncogWarn img{
	float: left;
	padding: 0px 10px 0px 0px;
	margin-bottom: 10px;
	width: 16px;
}

#idIncogWarn span{
	display: table-cell;
	margin: 0px 0px 8px 0px;
	padding: 0px;
	font-size: x-small;
	color: #999;
	background-color: #ffffe4;
}

#idStrgUsg{
	border: 1px solid #ccc;
	border-radius: 1px;
	width: 453px;
	height: 14px;
}

#idStrgUsgBar{
	margin-top: -17px;
	padding: 0;
	font-size: x-small;
	color: #333;
	text-align: center;
	vertical-align: middle;
}

#idSmplCvs{
	margin-top: -1px;
	/*display: none;*/
}
#idUsgBarSrc{
	display: none;
}

.spanDesc01{
	display: block;
	margin: 0px;
	padding: 6px 0px 0px 0px;
	font-size: x-small;
	color: #999;
}

.ulSldr01{
	margin: 2px 0px 0px 10px;
	padding: 0px;
	list-style-type: none;
}

.ulSldr01 li span.smDsc{
	display: block;
	margin: 0px;
	padding: 0px 0px 12px 22px;
	font-size: x-small;
	color: #999;
}

.divSldr{
	clear: both;
	margin: 8px 0px 5px 0px;
	padding: 0px 0px 0px 24px;
	display: table;
}

.btnLess{
	font-size: 0.7em !important;
	margin: 0px;
	padding: 0px 2px;
	display: table-cell;
    vertical-align: middle;
}

.btnMore{
	font-size: 0.7em !important;
	margin: 0px;
	padding: 0px 2px;
	display: table-cell;
    vertical-align: middle;
}

.ctrlRange{
	display: table-cell;
    vertical-align: middle;
	margin: 0px 8px;
	width: 290px;
}

.brk{
	clear: both;
}

.lblLatest{
	float: left;
	font-size: 0.8em;
	color: #666;
	margin: 0px 0px 2px 8px;
	padding: 0px;
}

.lblOldest{
	float: right;
	font-size: 0.8em;
	color: #666;
	margin: 0px 8px 2px 0px;
	padding: 0px;
}

.spnRangeVal{
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 0px 14px;
	color: #1771d6;
}

.lnkBlock{
	display: block;
	margin: 0px;
	padding: 0px 0px 8px 22px;
	font-size: 9pt;
}

.lnkInline{
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 8px 22px;
	font-size: 9pt;
}

.spnrExport{
	display: block;
	margin: auto;
}

.exportTbx{
	margin: 10px 0px 2px 0px;
	padding: 0px;
	width: 100%;
	height: 200px;
	resize: vertical;
	overflow-y: scroll;
	overflow-x: hidden;
}

.taExport{
	display: none;
}

#idXcptsMsg_dialog-confirm,
#idImpExpMsg_dialog-confirm,
#idImgMsg_dialog-confirm{
	display: block;
	font-size: x-small;
	color: #F00;
	margin: 0px;
	padding: 0px;
}

#dialog-confirm-msgtxt{
	display: table-cell;
}

.ftrStats{
	display: block;
	margin: 8px 0px 0px 0px;
	padding: 6px 0px 12px 22px;
	border-top: thin solid #EEE;
	font-size: 9pt;
	color: #999;
}

#idLnkApplyChngs{
	float: right;
}

.divFootr02{
	margin: 4px 0px 14px 10px;
	padding: 0;
	font-size: 9pt;
	color: #999;
}

.divFootr02 img{
	float: left;
	padding: 0px 10px 0px 0px;
	margin-bottom: 10px;
	width: 16px;
}

.divFootr02 span{
	display: table-cell;
}

#divXcpts{
	border: 1px solid #eee;
	margin: 6px auto;
	padding: 0px;
	width: 500px;
}

#idDivXcpts{
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
	overflow-x: auto;
	width: 500px;
	max-height: 480px;
}

#idTblXcpts{
	width: 100%;
	padding: 0px;
	margin: 0px 0px 4px 0px;
	border-collapse: collapse;
	border: 0px;
}

#idTblXcptsHdr{
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	border: 0px;
}

#idTblXcptsHdr thead{
	border-bottom: 1px solid #aaaaaa;
}

#idTblXcptsHdr th{
	padding: 4px 2px;
	background-color: #e0ecf5;
	font-weight: normal;
	font-style: normal;
}

#idTblXcpts td:nth-child(2){
	padding: 1px 0px 2px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#idTblXcptsHdr th:nth-child(2),
#idTblXcpts td:nth-child(2){
	text-align: left;
	padding-left: 6px;
}

#idTblXcptsHdr th:first-child,
#idBdyTblXcpts td:first-child{
	width: 2.0em;
	margin: 0 auto;
	text-align: center;
}

#idTblXcpts td:first-child{
	min-width: 2.0em;
	/*width: 2.0em;*/
	/*display: block;*/
	margin: 0 auto;
	text-align: center;
}

#idTblXcpts td>a{
	font-size: 9pt;
	color: #999 !important;
}
#idTblXcpts td>a:hover{
	color: #135094 !important;
}

#idTblXcpts td>span{
	display: block;
	font-size: 10pt;
	padding: 0px 6px;
	color: #333;
}

#idTblXcpts td:nth-child(2){
	padding-left: 6px;
}

#idBdyTblXcpts tr:hover{
	background-color: #f3f3f3;
	cursor: pointer;
}

.trXcptLnHilite{
	background-color: #f0f0f0;
}

#idXcptsSelUrl{
	width: 452px;
	display: inline-table;
}

#idXcptsSelType{
	display: inline-block;
	margin: 12px 0px 12px 20px;
	padding: 1px;
}

.noEntrsXcpts{
	padding: 4px 0px 8px 0px !important;
	font-style: italic;
	font-size: 9pt;
	color: #999;
}
.noEntrsXcpts:hover{
	background-color: #FFF;
	cursor: auto;
}

.hdrLink{
    display: inline-table;
	margin: 0px -10px 0px 10px;
	background-image: url(images/link_icn.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	width: 16px;
	height: 16px;
	background-size: 10px;
	border: 1px solid transparent;
	box-sizing: border-box;
}

.hdrLink:hover{
	border: 1px solid #ccc;
}

.hdrLink:active{
	background-size: 9px;
}

.lnkXcptLn{
}
.trXcptLn{
}
.chkXcptLn{
}

.indt1{
	margin-left: 12px;
}

.xcptDescExmp01{
	display: inline-block;
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	color: #666;
	margin: 4px 0px 0px 12px;
}

.xcptDescExmp01 em{
	background-color: #BBB;
	color: #FFF;
	font-style: normal;
}

.nln{
	display: block;
}

#chkUrlRegExp{
	margin: 4px 2px 2px 12px;
	padding: 0px;
}

.smChkBx{
	font-size: 9pt;
	color: #666;
}
