@charset "utf-8";

/* The following adjusts scrollbars */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 1px rgba(50,50,50,0.3);
    -webkit-border-radius: 1px;
    border-radius: 1px;
	border: solid #fff;
	border-width: 0 0 0 1px;
}
::-webkit-scrollbar-thumb {
	background-clip: padding-box;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: rgba(192,192,192,0.8); 
    -webkit-box-shadow: inset 0 0 1px rgba(150,150,150,0.5);
	border: solid #fff;
	border-width: 0 0 0 1px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(160,160,160,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(192,192,192,0.6); 
}
/* End of scrollbar adjustments */

